<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionstring" connectionString="Data Source=bibliotecam4.coj2yyl7amkw.us-east-1.rds.amazonaws.com,1433;Database=bdbiblioteca;User Id=admin;password=intelectualesD1FNM4;integrated security=false;" />
  </connectionStrings>
</configuration>